.App{
    overflow: hidden;
    background: #E9F2F1;
}
.link-social{
    width: 15%;
    height: 15%;
}
.static{
    position: fixed;
}
h1{
    font-size: 3em;
    text-align: center;
}
.footer{
    text-align: center;
    margin: 2vh;
    font-size: 1em;
    height: 6vh;

}
@media (min-width: 1280px){
.link-social{
    width: 10%;
    height: 10%;
}
}
